 <script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
$(document).ready(function() {
socket.on('message', function messageReceived(message) {

      ///////////////////////////////////////////////////////////
      // Replace the following with your own custom logic
      // to run when a new message arrives from the Sails.js
      // server.
      ///////////////////////////////////////////////////////////
      //console.log('New comet message received :: ', message);
      if (message.verb=="create"){
      		$('#people').append('<li id="person_'+message.data.person.id+'"><a href="/Person/edit/'+message.data.person.id+'">'+message.data.person.firstName+'&nbsp;'+message.data.person.lastName+'</a></li>');
      }
       if (message.verb=="update"){
       		$('#person_'+message.id).html('<a href="/Person/edit/'+message.data.person.id+'">'+message.data.person.firstName+'&nbsp;'+message.data.person.lastName+'</a></li>');
       }
     
    });
 });
</script>
<div>
  <h2>My corndog collection:</h2>
  <ul id="people">
    <% _.each(people, function (person) { %>
    <li id="person_<%= person.id %>"><a href="/Person/edit/<%= person.id %>"><%= person.firstName %>&nbsp;<%= person.lastName %></a></li>
    <% }) %>
  </ul>
  <p><a href="/Person/edit/">New</a></p>
</div>
